<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/edu-video.css">
</head>
<body>

    <div class="edit-wrap">
        <div class="account-info" onclick="location.href='https://www.youtube.com/watch?v=atHhZ-VcFgQ'">
            <p>교육 영상 1</p>
            <div>뽀로로와 함께 공부해요.</div>
        </div>
        <div class="account-info" onclick="location.href='https://youtu.be/9zcHGOlb5oc?si=V6Zu3wfw9HphT0d1'">
            <p>교육 영상 2</p>
            <div>인어공주와 함께 공부해요.</div>
        </div>
        <div class="account-info" onclick="location.href='https://youtu.be/e_GoTN2q2M8?si=1mGDDcKY_TZiPDxj'">
            <p>교육 영상 3</p>
            <div>아무렇게나 버리면 안돼!</div>
        </div>
        <div class="account-info" onclick="location.href='https://youtu.be/n3ixx8GBlfA?si=PHmab6F67H_PRbGb'">
            <p>교육 영상 4</p>
            <div>올바른 재활용 분리배출</div>
        </div>
        <div class="account-info" onclick="location.href='https://youtu.be/ro8cgMU8JAs?si=L6jZzS1iE4oGfKQi'">
            <p>교육 영상 5</p>
            <div>환경부 분리배출 교육용 애니메이션</div>
        </div>
        <div class="account-info" onclick="location.href='https://youtu.be/MZFW2and0_U?si=2VtN0MKIwHfa77Tp'">
            <p>교육 영상 6</p>
            <div>환경과 생활 (분리수거 동요)</div>
        </div>
        <div class="account-info" onclick="location.href='https://youtu.be/E3w6lSW_pp4?si=SU0R-3At8Yh3PoRS'">
            <p>교육 영상 7</p>
            <div>녹지마! 빙수</div>
        </div>
        <div class="account-info" onclick="location.href='https://youtu.be/iM_FZEduQT8?si=nWHEl24rnkXoHwbg'">
            <p>교육 영상 8</p>
            <div>도전! 분리수거를 배워요! (2~5세)</div>
        </div>
    </div>

</body>
</html>